

.topnav{
    display: flex;
    -webkit-box-shadow: 2px 6px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 5px -3px rgba(0,0,0,0.75);
box-shadow: 2px 6px 5px -3px rgba(0,0,0,0.75);
justify-content: space-between;
align-items: center;
}

section {
    margin-top: 20px;
    height: 1000px;
}
.left-items{
    flex-grow:1;
}

.central-items {
    flex-grow: 2;
    
}

.central-items #search-input {
width: 81%;
}

.central-items #button-input {
    float: right;
    border-right:none;
}
.right-items {
    flex-grow: 1;
    float: right;
}

button {
    padding: 0 20px;
}
aside {
    width: 30%;
    padding-left: 10px;
    margin-left: .5rem;
    float: right;
}
.video{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.content{
    justify-content: space-between;
}