p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

input{
    flex: auto;
}

.topnav{
    display: flex;
    flex: auto;
    justify-content: space-between;
}
.left-items{
    justify-content: flex-start;
}

.central-items {
    display: flex;
    justify-content: center;
    flex:auto;
}
#search-input{
    flex:auto;
}
.right-items {
    justify-content: flex-end;
}

aside {
    width:30%;
    padding-left: 10px;
    float: right;
}
#thumbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0%;
}
#thumbox-description{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#video{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.video-title{
    font-family: Arial, Helvetica, sans-serif;
}
#video-uploader{
    display: flex;
    justify-content: flex-start;
}
.comment-filter{
    display: flex;
    justify-content: flex-start;
}
.add-comment{
    display: flex;
    justify-content: flex-start;
}
#comment-button{
    display: flex;
    justify-content: flex-end;
}
.comment-box{
    display: flex;
    justify-content: flex-start;
}
#thumbs{
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
}
.content{
    display: flex;
    justify-content: space-between;
}
#video-stats{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}